[submodule "system-one-adapter-python"]
	path = system-one-adapter-python
	url = https://github.com/typesafe-ai/system-one-adapter-python.git
[submodule "typesafe-sdk-js"]
	path = typesafe-sdk-js
	url = https://github.com/typesafe-ai/typesafe-sdk-js.git
[submodule "typesafe-sdk-python"]
	path = typesafe-sdk-python
	url = https://github.com/typesafe-ai/typesafe-sdk-python.git
[submodule "typesafe-skills"]
	path = typesafe-skills
	url = https://github.com/typesafe-ai/skills.git
